{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <br>

    {{ form_start(form) }}
    <button type="submit" name="btnSearch">Recherche</button>
    {{ form_end(form) }}

    <br>

    <h1>Toutes les séries de la table program : </h1>

    {% for program in programs %}
    <a href="{{ path('wild_program', { 'slug': "walking-dead" }) }}">
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
 {% endblock %}
