{% extends 'base.html.twig' %}
{% block title %} Program {% endblock %}

{% block body %}
    <h1>Toutes les saisons de la série : </h1>
    {% for season in seasons %}
        <div>
            <a href="{{ path("wild_season", {"id":season.id}) }}"> Saison : {{ season.id }}</a>
            <p>{{ season.year }}</p>
            <p>{{ season.description }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <img src="{{ program.poster }}" class="card-img-fluid" alt="Image serie">

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}